:root{
    --utama: #243949;
    --background: #ECE9E6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cambay', sans-serif;
    background: linear-gradient(to right, #64b3f4, #c2e59c);
    color: var(--utama);
    margin: 0;
    padding: 0;
}



/*Navbar Start*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-bottom: 1px #243949 solid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

/*Navbar Logo*/
.navbar .navbar-logo {
    margin-left: 2rem;
    font-weight: 700;
    color:#243949;
    font-size: 1.3rem;
    font-style: bold;
    align-items: center;
    justify-content: center;
}

.navbar .navbar-logo span {
    color: #FFFFFF;
}

/*Navbar Nav*/
.navbar .navbar-nav a {
    display:inline-block;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 1rem;
    color: black;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 12px;
    padding: 2px;
}

.navbar .navbar-nav a:hover {
    color: var(--utama);
}

.navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--utama);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

/*Navbar Ekstra*/
.navbar .navbar-ekstra a {
    color: var(--utama);
    margin: 0 0.5rem;
}

.navbar .navbar-ekstra a:hover {
    color: var(--utama);
}

#menu {
    display: none;
}
/*Navbar End*/

.more {
    padding-top: 20rem;
    padding-bottom: 20rem;
}
.box-model {
    border: 2px solid var(--utama);
    padding: 10px;
    width: 70%;
    margin: auto;
}

table {
    width: 25%;
    min-height: 300vh;
    border-collapse: collapse;
    margin: 35px auto;
    text-align: center;
}

table thead {
    background-color: #0987db;
    color: #fff;
}

table th, table td {
    border: 1px solid var(--utama);
    padding: 5px;
    font-size: 5rem;
    font-weight: 600;
}

tr:nth-child(even) {
    background-color: #c2e59c;
}








/*Footer*/
footer {
    background-color: var(--background);
    text-align: center;
    padding: 1rem 0 3rem;
    margin-top: 3rem;
}

footer .sosmed {
    padding: 1rem 0;
}

footer .sosmed a {
    color: var(--utama);
    margin: 1rem;
}

footer .sosmed a:hover {
    color: #64b3f4;
}

footer .credit {
    font-size: 1.4rem;
}

footer .credit a{
    color: var(--utama);
    font-weight: 600;
}



/*Media Queries*/
/*Laptop*/
@media (max-width: 1366px) {
    html{
        font-size: 75%;
    }
}

/*Tablet*/
@media (max-width: 768px) {
    html{
        font-size: 62.5%;
    }

    #menu{
        display: inline-block;
    }

    /*Navbar*/
    .navbar .navbar-nav{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #c2e59cc2;
        width: 30rem;
        height: 100vh;
        transition: 0.5s;
    }

    .navbar .navbar-nav.active{
        right: 0;
    }

    .navbar .navbar-nav a {
        color: var(--utama);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 1.5rem;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(1);
    }

    /*Profile*/
    .profile .row {
        flex-wrap: wrap;
    }

    .profile .row .profile-img img {
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }

    .profile .row .content {
        padding: 0;
    }

    .profile .row .content p {
        font-size: 1.6rem;
    }
    .profile .member p {
        font-size: 1.4rem;
    }

    /*Discography*/
    .disco h3 {
        font-size: 2.5rem;
        font-weight: 600;
        width: 55%;
        height: 10vh;
        top: 50%;
    }
}

/*Smartphone*/
@media (max-width: 450px) {
    html{
        font-size: 55%;
    }

        /*Discography*/
        .disco h3 {
            font-size: 2rem;
            font-weight: 600;
            width: 50%;
            height: 10vh;
            top: 50%;
            padding: 10rem;
        }
}
